.container {
  text-align: center;
  position: inline-block;
}

.box {
  position: absolute;
  left: 50%;
  padding: 0px 20px 20px 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  font-family: "Ubuntu";
  letter-spacing: 4px;
  font-size: 20px;
}

.title-forgot {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 16px;
}

.form-border {
  background: -webkit-linear-gradient(
    left,
    #ee5823,
    #0065b3,
    #01aef0,
    #7ec042,
    #ffca08
  );
  height: 1px;
  width: 100%;
}

.forgot-password {
  text-align: right;
}

.btn-login {
  text-align: center;
  padding-top: 30px;
  font-family: "Raleway SemiBold", sans-serif;
}

.create-account {
  color: #0065b3;
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
}

/*Change Password Page*/

.content-forgot {
  text-align: center;
  color: #d2c9ca;
  padding-top: 20px;
  font-size: 12px
}
